*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.wrapper{
    width: 400px;
    margin: 6rem auto;
    background-color: rgb(158, 155, 155);
    border-radius: 8px 8px 14px 14px;
    padding-top: 20px;
    padding-bottom: 6px;
    border-top:3px groove rgba(99,99,99,03);
    border-left:4px groove rgba(99,99,99,0.3);
    border-bottom:12px ridge rgba(80,80,80,0.5);
    border-right:10px ridge rgba(80,80,80,0.6);
    box-shadow: 30px 30px 20px #606060;
 
    transform:perspective(1000px) rotateY(0deg) rotateX(-3deg);
}
.screen-wrapper{
    transform:perspective(500px) rotateY(0deg) rotateX(-6deg);
    border:outset 4px #ccc5c5 ;
    border-radius:10px ;
    width: 96%;
    margin: 0 auto;
    padding: 6px;
}
.screen{
    width: 98%;
    height: 80px;
    margin: 0 auto;
    color: #fff;
    background: #161616;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    padding-right: 1rem;
    font-size: 40px;
    border-radius: 8px;
    border-top:8px ridge rgba(99,99,99,0.6);
    border-left:6px ridge rgba(99,99,99,0.5);
    border-bottom:10px groove rgba(80,80,80,0.6);
    border-right:6px groove rgba(80,80,80,0.5);
}
.calc-buttons{
    width: 100%;
    max-height: 580px;
    margin: 1.5rem 0 .8rem;    
    padding: 2px 6px;
}
.line{
    width: 100%;
    background-color: #606060;
    height: 3px;
    position: relative;
    top: .8rem;
    box-shadow: #e0dbdb 1px 1px 3px;
    margin: 0 auto;
    border: ridge 3px #968f8f;
    border-radius: 3px;
}
.calc-btn-row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    transform:perspective(1000px) rotateY(0deg) rotateX(10deg);
}

.calc-btn{
    flex-basis: 24.5%;
    margin: 4px 4px;
    background-color: rgb(220, 233, 220);
    font-weight: bold;
    font-size: 40px;
    border-radius: 18px;
    box-shadow:  1px 3px 6px rgb(44, 41, 41);
    height: 100px;
    border-top:3px groove     rgba(99,99,99,0.56);
    border-left:4px groove    rgba(99,99,99,0.52);
    border-bottom:10px ridge      rgba(80,80,80,0.34);
    border-right:8px ridge     rgba(80,80,80,0.31);
    cursor: pointer;
    transform:perspective(1000px) rotateY(0deg) rotateX(-2deg);
}
.calc-btn:hover, .calc-btn:last-child:hover{
    background-color: rgb(176, 184, 248);
    border: outset rgb(176, 184, 248) 4px;
    transform: scale(.96);
    box-shadow:  6px 12px 12px rgb(20, 20, 20);
    transition: ease .5s;
    outline-style                                                   : none;
}
.calc-btn.btn-span2{
    flex-basis: 51%;
}
.calc-btn.btn-span3{
    flex-basis: 78%;
}
.calc-btn:last-child{
    background-color: rgba(102, 124, 238, 0.85);
    border-top:3px groove     rgba(99,99,99,0.56);
    border-left:4px groove    rgba(99,99,99,0.52);
    border-bottom:10px ridge      rgba(80,80,80,0.34);
    border-right:8px ridge     rgba(80,80,80,0.31);
    color: #fff;
}
